In [ ]:
-- 코드를 입력하세요
#SELECT FOOD_TYPE, REST_ID, REST_NAME, MAX(FAVORITES) FROM REST_INFO
#WHERE FAVORITES = (SELECT MAX(FAVORITES) FROM REST_INFO);
#GROUP BY FOOD_TYPE
#ORDER BY FOOD_TYPE DESC;

SELECT FOOD_TYPE, REST_ID, REST_NAME, FAVORITES FROM REST_INFO
WHERE (FOOD_TYPE, FAVORITES) IN (SELECT FOOD_TYPE, MAX(FAVORITES) FROM REST_INFO GROUP BY FOOD_TYPE) 
ORDER BY FOOD_TYPE DESC;

'''
/*
select a.food_type, a.rest_id, a.rest_name, a.favorites
from (select food_type, max(favorites) as mx
      from rest_info
      group by food_type) as b
join rest_info as a
on a.food_type = b.food_type
where a.favorites = b.mx
order by 1 desc
*/
'''

In [ ]:
SELECT PRODUCT_ID, PRODUCT_NAME, PRODUCT_CD, CATEGORY, PRICE FROM FOOD_PRODUCT
WHERE PRICE = (SELECT MAX(PRICE) FROM FOOD_PRODUCT);